<h1>TODO List</h1>

<body>
    <form action="/add" method="post">
        <input type="text" id="item" name="description" autofocus>
        <button type="submit"> Send </button>
    </form>
    <table>
        {{ range . }}
        <tr>
            <form action="/toggle" method="post">
               <td><button name="description" value={{.Description}}> {{.Status}} </button></td>

            {{ if eq (.Status) ("TODO") }}
                <td>{{.Description}}</td>
            {{ end }} 
            {{ if eq (.Status) ("DONE") }}
                <td><strike>{{.Description}}</strike></td>
            {{ end }} 
            {{ if eq (.Status) ("WAIT") }}
                <td><i>{{.Description}}</i></td>
            {{ end }} 
            </form>
        </tr>
        {{end}}
  </table>
</body>
