<style>
    form {float: left;}
    div.resultContainer .hidden {display: none;}
    div.resultContainer:hover .hidden {display: inline;}
</style>

<h1>TODO List</h1>

<body>
    <form action="/add" method="post">
        <input type="text" id="item" name="description" autofocus>
        <button type="submit"> Send </button>
    </form>
        <br/>

        {{ range . }}
        <br/>
            <form action="/toggle" method="post">
               <span style="width:{{.Depth}}px;display:inline-block;"></span>
               <button name="description" value={{.ID}}> {{.Status}} </button>
            {{ if eq (.Status) ("TODO") }}
                <span>{{.Title}}&nbsp</span>
            {{ end }} 
            {{ if eq (.Status) ("DONE") }}
                <strike>{{.Title}}&nbsp</strike>
            {{ end }} 
            {{ if eq (.Status) ("WAIT") }}
                <i>{{.Title}}&nbsp</i>
            {{ end }} 
            </form>
            <div class='resultContainer'>
              &nbsp
            <div class='hidden'>
                <form action="/indentLeft", method="post">
                    <button name="description" value={{.ID}}><</button>
                </form>
                <form action="/moveUp", method="post">
                    <button name="description" value={{.ID}}>^</button>
                </form>
                <form action="/moveDown", method="post">
                    <button name="description" value={{.ID}}>v</button>
                </form>
                <form action="/indentRight", method="post">
                    <button name="description" value={{.ID}}>></button>
                </form>
            </div>
            </div>
        {{end}}
</body>
