<h1>TODO List</h1>

<body>
    <form action="/add" method="post">
        <input type="text" id="item" name="item" autofocus>
        <button type="submit"> Send </button>
    </form>
    <table>
        {{ range . }}
        <tr>
            <form action="/toggle" method="post">
            {{ if eq (.Done) (0) }}
                <td><button name=todoitem value={{.Description}}> TODO </button></td>
                <td>{{.Description}}</td>
            {{ end }} 
            {{ if eq (.Done) (1) }}
                <td><button name=todoitem value={{.Description}}> DONE </button></td>
                <td><strike>{{.Description}}</strike></td>
            {{ end }} 
            {{ if eq (.Done) (2) }}
                <td><button name=todoitem value={{.Description}}> WAIT </button></td>
                <td>{{.Description}}</td>
            {{ end }} 
            </form>
        </tr>
        {{end}}
  </table>
</body>
